{% extends "base.html" %}
{% block title %}
    Annuler une resevation
{% endblock %}


{% block user_role %}
<form method="POST" class="user_role_form">
    {% csrf_token %}
        <input name="annuler_id" placeholder="Entrez l'id de la reservation à annuler">
        <button id="submit-btn" type="submit" name="action" value="btn_2">Submit</button>
    </form>
    {% if annuler_id %}
    {% if annuler_id %}
        <h3 class="title title_2">
            Vous avez choisi d'annuler la réservation de la chambre d'id <span>{{ annuler_id }}</span> appartenant à l'hotel <span>{{ hotel_name }}</span> d'id <span>{{ hotel_id }}</span> situé dans la ville <span>{{ ville_name }}</span>
        </h3>
        <form method="POST" class="user_role_form" action="annulation_reussi">
            {% csrf_token %}
            <button id="submit-btn" type="submit" name="action" value="btn_3">Confirmer votre choix</button>
        </form>

    {% else  %}

     <h3 class="title title_2">Cette id n'existe dans notre base de donnée...<br> Peut être une erreur !</h3>
    {% endif %}
    {% endif %}
{% endblock %}