{% extends "base.html" %}
{% block title %}
    Liste des hôtels ayant des chambres disponibles 👇️
{% endblock %}

{% block user_role %}

{% if extra_4 %}

        <table class="styled-table">    
            <thead>
                    <tr>
                        <th>hotel</th>
                        <th>Nbr_Total_Chambre</th>
                        <th>Nbr_Chambre_Dispo</th>
                    </tr>
                </thead>

                <tbody>
                    {% for rows in extra_4 %}
                    <tr>
                        {% for data in rows %}
                            <td>{{ data }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    {% endif %}
{% endblock %}