{% extends "base.html" %}
{% block title %}
    Nombre d'hôtel dans une ville donnée 👇️
{% endblock %}

{% block user_role %}

{% if extra_1 %}

        <table class="styled-table">    
            <thead>
                    <tr>
                        <th>id</th>
                        <th>nom_ville</th>
                        <th>Nbr_hotel</th>
                    </tr>
                </thead>

                <tbody>
                    {% for rows in extra_1 %}
                    <tr>
                        {% for data in rows %}
                            <td>{{ data }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    {% endif %}
{% endblock %}