{% extends "base.html" %}
{% block title %}
    L'hôtel (les hôtels) qui a la chambre la moins chère disponible à la date ddddd dans la ville VVVVVV.
{% endblock %}


{% block user_role %}
<form method="POST" class="user_role_form">
    {% csrf_token %}
        <select name="ville_id">
            <option value="None" id="placeholder">Entrez l'id de la ville</option>
            {{ all_ville }}
            {% for t in all_ville %}
                <option value="{{ t.0 }}" id="date_field">{{ t.0 }}</option>
            {% endfor %}    
        </select>
        {{ form.as_p }}
        <button id="submit-btn" type="submit" name="action" value="btn_2">Submit</button>
    </form>
    {% if ville_id %}
        <h3 class="title title_2">L'hôtel (les hôtels) de la ville <span>{{ ville_name }}</span> id <span>{{ ville_id }}</span>
             ayant la chambre la moins chère disponible au <span>{{ selected_date }}</span> est (sont) 👇️
        </h3>

        {% if request_3 %}
        {% if request_3|length == 0 %}
        <table class="styled-table">
            {% elif request_3|length == 0 %}
            <thead id="aucun">
                <tr>
                    <th>Aucun élément dans la base de donnée</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>_______________________________________________________________________________________________________________</td>
                </tr>
            </tbody>
        </table>
        {% else %}
        <table class="styled-table">
            <thead>
                <tr>
                    <th>ville_id</th>
                    <th>Nom hotel</th>
                    <th>prix_chambre_moins_cher</th>
                </tr>
            </thead>
            <tbody>
                {% for row in request_3 %}
                <tr>
                    {% for data in row %}
                        <td>{{ data }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}