{% extends "base.html" %}
{% block title %}
    La liste des hôtels qui ont des chambres disponibles 
    dans un rayon de 5 km du lieu où se joue le spectacle XXX a la date dddddd
{% endblock %}


{% block user_role %}
<form method="POST" class="user_role_form">
    {% csrf_token %}
        <select name="spectacle_id">
            <option value="None" id="placeholder">Entrez l'id du spectacle</option>
            {{ all_spectacle }}
            {% for spec in all_spectacle %}
                <option value="{{ spec.0 }}" id="date_field">{{ spec.0 }}</option>
            {% endfor %}    
        </select>
        <button id="submit-btn" type="submit" name="action" value="btn_2">Submit</button>
    </form>
    {% if spectacle_id %}
        <h3 class="title title_2">Le spectacle <span>{{ spectacle_name }}</span> categorie <span>{{ spectacle_categorie }}</span> id <span>{{ spectacle_id }}</span>
             qui aura lieu le <span>{{ spectacle_date }}</span> 
            verra les hôtels suivants disponibles dans un rayon de 5 Km 👇️
        </h3>

        {% if request_1 %}

        <table class="styled-table">    
            <thead>
                    <tr>
                        <th>spectacle</th>
                        <th>hotel</th>
                        <th>distance</th>
                    </tr>
                </thead>

                <tbody>
                    {% for rows in request_1 %}
                    <tr>
                        {% for row in rows %}
                            <td>{{ row }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            {% if request_1|length == 0 %}
                <thead id="aucun">
                    <tr>
                        <th>Aucun élément dans la base de donnée</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>_______________________________________________________________________________________________________________</td>
                    </tr>
                </tbody>
            {% endif %}
        </table>
    {% endif %}
    {% endif %}
{% endblock %}