{% extends "base.html" %}
{% block title %}
    Les hôtels complets de la ville VVVV à la date dddd.
{% endblock %}


{% block user_role %}
<form method="POST" class="user_role_form">
    {% csrf_token %}
        <select name="ville_id">
            <option value="None" id="placeholder">Entrez l'id de la ville</option>
            {{ all_ville }}
            {% for t in all_ville %}
                <option value="{{ t.0 }}" id="date_field">{{ t.0 }}</option>
            {% endfor %}    
        </select>
        {{ form.as_p }}
        <button id="submit-btn" type="submit" name="action" value="btn_2">Submit</button>
    </form>
    {% if ville_id %}
        <h3 class="title title_2">La ville <span>{{ ville_name }}</span> <span>d'id {{ ville_id }}</span>
             verra ses hôtels suivants afficher complet le <span>{{ selected_date }}</span> 👇️ 
        </h3>
        {% if request_2|length == 0 %}
        <table class="styled-table">
            <thead id="aucun">
                <tr>
                    <th>Aucun élément dans la base de donnée</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>_______________________________________________________________________________________________________________</td>
                </tr>
            </tbody>
        </table>
        {% else %}
        <table class="styled-table">
                <thead>
                    <tr>
                        <th>id_hotel</th>
                        <th>nbr_room</th>
                        <th>ville_id</th>
                        <th>etat</th>
                    </tr>
                </thead>

                <tbody>
                    {% for row in request_2 %}
                    <tr>
                        {% for data in row %}
                            <td>{{ data }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
        {% endif %}
    {% endif %}
{% endblock %}
