{% extends "base.html" %}
{% block title %}
    les clients qui ont réservé pour au moins 600 Eur au total, et qui ne dépensent jamais moins de 100 Eur par
    nuit d'hôtel 👇️
{% endblock %}


{% block user_role %}

    <form method="POST" class="user_role_form">
        {% csrf_token %}
        <button id="submit-btn" id="btn-alone" type="submit" name="action" value="btn_2">Submit</button>
    </form>
    {% if request_5 %}
        {% if request_5|length == 0 %}
        <table class="styled-table">
            <thead id="aucun">
                <tr>
                    <th>Aucun élément dans la base de donnée</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>_______________________________________________________________________________________________________________</td>
                </tr>
            </tbody>
        </table>
        {% else %}
        <table class="styled-table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name_client</th>
                        <th>nbr_reserv</th>
                        <th>prix_sejour</th>
                    </tr>
                </thead>

                <tbody>
                    {% for row in request_5 %}
                    <tr>
                        {% for data in row %}
                            <td>{{ data }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
        </table>
        {% endif %}
    {% endif %}
{% endblock %}